.Burger {
    padding: 20px;
    border: 1px solid #09be99;
    border-radius: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.Burger img {
    width: 70%;
}

.Burger button {
    background-color: #09be99;
    border: 1px solid #09be99;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.Burger button:hover,
.Burger button:active {
    background-color: initial;
    background-position: 0 0;
    color: #09be99;
}

.Burger button:active {
    opacity: .5;
}

.Burger button:first-child {
    margin-right: 5px;
}